h1{
    font-size: 60px;
    text-align: center;
    justify-content: center;
    margin-top: 150px ;
    background-image:  linear-gradient(to right, #1859d3, #0091fc, #00bbd9,
    #00da84, #a8eb12);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}